body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: #ff6347;
}


main {
    padding: 2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intro .text, .formacao .text{
    max-width: 60%;
}

.intro p, .formacao li, .portifolio li, .portifolio p, .contato p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.intro img {
    max-width: 30%;
    border-radius: 10px;
    margin-left: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.portifolio a {
    display: inline-block;
    margin-bottom: 1rem;
}

.contato p, .contato h3 {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="text"], input[type="email"], textarea {
    width: 50%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: .5rem;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    outline: none;
    border-color: #ff6347;
    box-shadow: 0 0 5px rgba(255, 99, 71, 0.5);
}

input[type="submit"] {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #e55337;
}
